{% load static %}
<!DOCTYPE html>
<head>

    <title>Meu Site</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
        
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-wrapper" class="card card-body">
                    <img id="profile-pic" src="{% static 'images/eu.jpg'%}">
                    <hr>
                    <h4>Olá eu sou Kauê</h4>
                    <p>eu adoro programar, aprender novas coisas e fazer novos amigos</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Quem sou eu?</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore alias voluptatum nisi maiores ducimus temporibus sit velit. Totam temporibus exercitationem nostrum optio accusamus possimus saepe deserunt delectus quod. Nisi.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam minima laboriosam ipsum provident cupiditate eos incidunt minus sapiente quis</p>

                    <ul>
                        <li><img class="social" src="{% static 'images/filosofia.jpg'%}"></li>
                        <li><img class="social" src="{% static 'images/geografia.jpg'%}"></li>
                        <li><img class="social" src="{% static 'images/historia.jpg'%}"></li>
                        <li><img class="social" src="{% static 'images/sociologia.jpg'%}"></li>
                    </ul>
                </div>
            </div>
        </div>

            <br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Olá eu sou Kauê</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illum quam quasi quibusdam similique ut corporis voluptatibus praesentium unde alias eveniet sed laborum, voluptas consequatur molestias placeat nulla. Tenetur, assumenda!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Olá eu sou Kauê</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illum quam quasi quibusdam similique ut corporis voluptatibus praesentium unde alias eveniet sed laborum, voluptas consequatur molestias placeat nulla. Tenetur, assumenda!</p>
                </div>
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Olá eu sou Kauê</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illum quam quasi quibusdam similique ut corporis voluptatibus praesentium unde alias eveniet sed laborum, voluptas consequatur molestias placeat nulla. Tenetur, assumenda!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Olá eu sou Kauê</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illum quam quasi quibusdam similique ut corporis voluptatibus praesentium unde alias eveniet sed laborum, voluptas consequatur molestias placeat nulla. Tenetur, assumenda!</p>
                </div>
            </div>
        </div>  
    </div>

</body>
</html>
